<h1 class="text-success"> Hola Mundo Volviendo a node.js </h1>

<div class=" container-fluid d-flex  flex-column " style="color: #F2F2F2;">
    <div class="row d-flex p-3 align-items-center ">
        <div class="col-6">
            <h1 class="display-1  fw-bold " style="color: #717171;">Eleva tu estilo con <span
                    style="color: #66BB69;">Ziara</span></h1>
            <p class=" fs-5 fw-semibold" style="color: #263238;">Donde la precisión se encuentra con la pasión. Más que un corte, una experiencia.</p>

            <div class="d-flex gap-3">
                <a href="{%url 'reservas_citas' %}">
                    <button class="btn mt-5 shadow-lg  btn-lg fs-4  fw-semibold fs-6" style="color: #ffffff; background-color: #263238;">Reservar Cita </button>
                </a>
    
                <a href="{%url 'ver_tienda' %}">
                    <button class="btn mt-5 shadow-lg  btn-lg fs-4 btn-outline-secondary  fw-semibold fs-6" > Ver Tienda </button>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <img src="{% static 'img/seccion1.2.svg' %}" class="img-fluid" alt="Imagen descriptiva">
        </div>
    </div>
</div>
